<html>
<head></head>
<body>
<form method="post" action="/post">
    <input type="text" name="name" placeholder="name"><br>
    <input type="checkbox" name="agree"><br>
    <button type="submit">submit</button>
</form>
</body>
</html>